.env
test.py
.vscode
.DS_Store


# dependencies
/muse_frontend/node_modules
/muse_frontend/.pnp
/muse_frontend/.pnp.js

# testing
/muse_frontend/coverage

# production
/muse_frontend/build

# misc
/muse_frontend/.DS_Store
/muse_frontend/.env.local
/muse_frontend/.env.development.local
/muse_frontend/.env.test.local
/muse_frontend/.env.production.local
/muse_frontend/npm-debug.log*
/muse_frontend/yarn-debug.log*
/muse_frontend/yarn-error.log*
